@mixin button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: $color-main;
  font-size: 25px;
  line-height: 48px;
  color: $color-grid;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
@mixin title {
  font-size: 36px;
  font-weight: 700;
  color: $color-text;
  text-align: center;
  text-transform: uppercase;
}
@mixin link {
  display: block;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: $color-main;
  font-size: 25px;
  line-height: 48px;
  color: $color-text;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
